.btn {
  background-color: $color-gray-dark;
  color: $color-gray-darker;
  display: inline-block;
  cursor: pointer;
  transition: $transition;
  font-size: 24px;
  font-family: $base-font-family;
  border: none;
  height: 48px;
  padding: 8px 16px;
  margin: 0 4px;
  &:hover {
    color: $color-white;
    background-color: $color-gray;
  }
  &:disabled,
  [disabled] {
    background-color: $color-gray-darker;
    color: $color-gray-dark;
    text-decoration: line-through;
    cursor: not-allowed;
  }
}
