.input-text {
  -webkit-appearance: none;
  text-align: center;
  border-radius: 0;
  font-size: 24px;
  border: none;
  color: $color-white;
  background: $color-gray-dark;
  font-family: $base-font-family;
  width: 220px;
  margin: 0 4px;
  transition: $transition;
  box-shadow: inset 0 0 0 none;
}
