.notification-wrapper {
  &:first-child {
    .notification {
      margin-top: 16px;
    }
  }
}

.notification {
  padding: 16px 8px 16px 24px;
  margin: 4px 16px;
  color: $color-white;
  background: $color-gray-dark;
  border-right: 8px solid $color-blue;

  // Style for title line
  .notification-title {
    font-size: 24px;
    text-transform: capitalize;
    padding-bottom: 8px;
  }

  // Style for content
  .notification-content {
    font-size: 18px;
  }

  // Style for error notification
  &.error {
    background: $color-gray-dark;
    border-right-color: $color-red;

    .notification-title {
      color: $color-red;
    }
  }

  // Style for success notification
  &.success {
    background: $color-gray-dark;
    border-right-color: $color-green;

    .notification-title {
      color: $color-green;
    }
  }
}
