.segment {
  cursor: pointer;
  transition: $transition;

  // OFF state
  &.off {
    fill: $color-gray-dark;
  }

  // ON state
  &.on {
    fill: $color-green;
  }

  // Hover OFF state
  &:hover {
    fill: $color-gray;
  }

  // Hover ON state
  &.on:hover {
    fill: darken($color-green, 16%);
  }
}

#segment-dot {
  fill: $color-gray-dark;
}
