// Variables
$cs: (
  'height': 48px,
  'font-size': 16px,
  'max-width': 100px,
  'arrow-color': $color-white,
  'arrow-size': 6px
);

.custom-select {
  position: relative;
  overflow: hidden;
  display: inline-block;
  max-width: map-get($cs, 'max-width');
  width: 100%;
  transition: $transition;
  height: map-get($cs, 'height');
  background-color: $color-gray-dark;
  font-size: map-get($cs, 'font-size');
  margin: 0 4px;

  // Hover state
  &:hover,
  &:focus {
    background-color: $color-gray;
  }

  // Dropdown arrow
  &:before {
    content: ' ';
    display: block;
    right: 10px;
    top: 22px;
    height: 0;
    width: 0;
    position: absolute;
    border-top: map-get($cs, 'arrow-size') solid map-get($cs, 'arrow-color');
    border-left: map-get($cs, 'arrow-size') solid transparent;
    border-right: map-get($cs, 'arrow-size') solid transparent;
    pointer-events: none;

    // Hide custom arrow on IE8 & IE9
    // Display the default arrows instead
    .is-ie8 &,
    .is-ie9 & {
      display: none;
    }
  }

  // Remove all styling from native select/dropdown
  select {
    padding: 0 30px 0 9px;
    width: 100%;
    height: 100%;
    color: $color-white;
    font-family: 'PT Mono', monospace;
    font-size: 24px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: right;

    &:focus {
      outline: none;
    }

    // IE8 & IE9
    .is-ie8 &,
    .is-ie9 & {
      padding: 0 0 0 9px;
    }

    // IE 10/11 hacks to hide native dropdown arrow
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      &::-ms-expand {
        display: none;
      }
      &:focus::-ms-value {
        background: transparent;
        color: #222;
      }
    }

    // Firefox hack - remove focus outline
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    // Firefox hack - hides native dropdown arrow
    @-moz-document url-prefix() {
      width: 120%;
      width: calc(100% + 43px);
      padding: 0 54px 0 5px;
    }
  }
}

option {
  color: $color-gray;
}

// Disabled custom select (optional)
.custom-select.disabled,
.disabled .custom-select {
  background-color: $color-gray-dark;

  &:after {
    border-top-color: $color-gray-darker;
  }

  select {
    color: $color-gray-darker;
  }
}
