<template>
  <section id="segment-display">
    <div class="row">
      <button
        class="btn"
        type="button"
        @click="selectAll"
        :disabled="isSelectAllDisabled"
      >Select all</button>
      <button class="btn" type="button" @click="clearAll" :disabled="isClearAllDisabled">Clear all</button>
    </div>
    <div class="row">
      <div class="segment-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="600" height="600" viewBox="0 0 600 600">
          <!-- <title>Segment Display</title> -->
          <g class="segment-display">
            <!-- <g id="segment-dot">
            <circle cx="489.13" cy="573.91" r="26.09"></circle>
            </g>-->
            <g id="segment-14" class="segment">
              <polygon
                points="169.56 26.09 195.65 52.17 404.35 52.17 430.44 26.09 404.35 0 195.65 0 169.56 26.09"
              ></polygon>
            </g>
            <g id="segment-13" class="segment">
              <polygon
                points="436.96 32.61 410.87 58.7 410.87 267.39 436.96 293.48 463.04 267.39 463.04 58.7 436.96 32.61"
              ></polygon>
            </g>
            <g id="segment-12" class="segment">
              <polygon
                points="436.96 567.39 410.87 541.3 410.87 332.61 436.96 306.52 463.04 332.61 463.04 541.3 436.96 567.39"
              ></polygon>
            </g>
            <g id="segment-11" class="segment">
              <polygon
                points="169.56 573.91 195.65 547.83 404.35 547.83 430.44 573.91 404.35 600 195.65 600 169.56 573.91"
              ></polygon>
            </g>
            <g id="segment-10" class="segment">
              <polygon
                points="163.04 567.39 136.96 541.3 136.96 332.61 163.04 306.52 189.13 332.61 189.13 541.3 163.04 567.39"
              ></polygon>
            </g>
            <g id="segment-09" class="segment">
              <polygon
                points="163.04 32.61 136.96 58.7 136.96 267.39 163.04 293.48 189.13 267.39 189.13 58.7 163.04 32.61"
              ></polygon>
            </g>
            <g id="segment-08" class="segment">
              <polygon
                points="169.56 300 195.65 326.09 267.39 326.09 293.48 300 267.39 273.91 195.65 273.91 169.56 300"
              ></polygon>
            </g>
            <g id="segment-07" class="segment">
              <polygon
                points="306.52 300 332.61 326.09 404.35 326.09 430.44 300 404.35 273.91 332.61 273.91 306.52 300"
              ></polygon>
            </g>
            <g id="segment-06" class="segment">
              <polygon
                points="198.91 117.39 198.91 61.96 234.78 61.96 264.13 208.7 264.13 264.13 228.26 264.13 198.91 117.39"
              ></polygon>
            </g>
            <g id="segment-05" class="segment">
              <polygon
                points="300 58.7 273.91 84.78 273.91 267.39 300 293.48 326.09 267.39 326.09 84.78 300 58.7"
              ></polygon>
            </g>
            <g id="segment-04" class="segment">
              <polygon
                points="401.09 117.39 401.09 61.96 365.22 61.96 335.87 208.7 335.87 264.13 371.74 264.13 401.09 117.39"
              ></polygon>
            </g>
            <g id="segment-03" class="segment">
              <polygon
                points="198.91 482.61 198.91 538.04 234.78 538.04 264.13 391.3 264.13 335.87 228.26 335.87 198.91 482.61"
              ></polygon>
            </g>
            <g id="segment-02" class="segment">
              <polygon
                points="300 541.3 273.91 515.22 273.91 332.61 300 306.52 326.09 332.61 326.09 515.22 300 541.3"
              ></polygon>
            </g>
            <g id="segment-01" class="segment">
              <polygon
                points="401.09 482.61 401.09 538.04 365.22 538.04 335.87 391.3 335.87 335.87 371.74 335.87 401.09 482.61"
              ></polygon>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="row">
      <form>
        <div class="input-group">
          <label class="group-label">Bitmask:</label>
          <div class="custom-select">
            <select class="select" v-model="prefix">
              <option>None</option>
              <option value="0b" selected>0b</option>
            </select>
          </div>
          <input type="text" name="bitmask" v-model="bitmask" class="input-text" disabled>
          <button
            class="btn"
            type="button"
            v-clipboard:copy="prefixedBitmask"
            v-clipboard:success="clipboardSuccessHandler"
            v-clipboard:error="clipboardErrorHandler"
          >Copy</button>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  name: "segment-display",
  components: {},
  data: function() {
    return {
      bitmask: "00000000000000",
      isSelectAllDisabled: false,
      isClearAllDisabled: true,
      prefix: "0b"
    };
  },
  computed: {
    prefixedBitmask: function() {
      return this.prefix + this.bitmask;
    }
  },
  methods: {
    selectAll: function() {
      $(this.$el)
        .find(".segment")
        .removeClass("off")
        .addClass("on");
      this.updateBitmask();
      this.updateSelectAll();
      this.updateClearAll();
    },

    clearAll: function() {
      $(this.$el)
        .find(".segment")
        .removeClass("on")
        .addClass("off");
      this.updateBitmask();
      this.updateSelectAll();
      this.updateClearAll();
    },

    getBitmask: function() {
      let bitmask = "",
        bitmaskArray = [];
      let segmentsCollection = $(this.$el)
        .find(".segment")
        .get()
        .reverse();

      $(segmentsCollection).each(function() {
        let bit;
        if ($(this).hasClass("off")) {
          bit = 0;
        } else {
          bit = 1;
        }
        bitmaskArray.push(bit);
      });
      bitmask = bitmaskArray.toString();
      bitmask = bitmask.replace(/,/g, "");
      return bitmask;
    },

    updateBitmask: function() {
      this.bitmask = this.getBitmask();
    },

    addClickHandler: function() {
      let t = this;
      $(this.$el)
        .find(".segment")
        .click(function() {
          $(this).toggleClass("off");
          $(this).toggleClass("on");
          t.updateBitmask();
          t.updateSelectAll();
          t.updateClearAll();
        });
    },

    clipboardSuccessHandler({ value, event }) {
      this.show("clipboard", "success");
      // this.show("clipboard", "error"); // Also show error notification
    },

    clipboardErrorHandler({ value, event }) {
      this.show("clipboard", "error");
    },

    updateSelectAll: function() {
      let isDisabled;
      if (
        $(this.$el).find(".segment").length ==
        $(this.$el).find(".segment.on").length
      ) {
        isDisabled = true;
      } else {
        isDisabled = false;
      }
      this.isSelectAllDisabled = isDisabled;
    },

    updateClearAll: function() {
      let isDisabled;
      if (
        $(this.$el).find(".segment").length ==
        $(this.$el).find(".segment.off").length
      ) {
        isDisabled = true;
      } else {
        isDisabled = false;
      }
      this.isClearAllDisabled = isDisabled;
    },

    show(group, type = "") {
      let text = "";

      if (type === "success")
        text = `"${this.prefixedBitmask}" copied to clipboard`;
      else text = `"${this.prefixedBitmask}" not copied to clipboard`;

      this.$notify({
        group,
        title: `${type}`,
        text,
        type,
        duration: 4000,
        speed: 400,
        max: 4,
        data: {
          value: this.bitmask
        }
      });
    }
  },
  mounted: function() {
    this.clearAll();
    this.addClickHandler();
  }
};
</script>

<style lang="scss">
.segment-container {
}
</style>
