<template>
  <div id="app">
    <div class="row">
      <h1>{{ title }}</h1>
    </div>
    <SegmentDisplay></SegmentDisplay>
    <notifications classes="notification" group="clipboard" position="top right"/>
  </div>
</template>

<script>
import SegmentDisplay from "./components/SegmentDisplay.vue";

export default {
  name: "app",
  components: {
    SegmentDisplay
  },
  data: function() {
    return {
      title: "14 Segment Display"
    };
  }
};
</script>

<style lang="scss">
html,
body {
  background: $color-gray-darker;
}

#app {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-gray-dark;
  text-align: center;

  h1 {
    font-size: 40px;
    margin: 0;
  }
}
</style>
