// Colors
$color-red: #f45100;
$color-green: #a1f400;
$color-blue: #0092f4;
$color-white: #fff;
$color-gray: #4d4d4d;
$color-gray-dark: #333333;
$color-gray-darker: #191919;

// Transitions
$transition: all 0.24s ease;
